<include href="view/header.html" />

<div class="container text-center">

	<h1>Login</h1>

	<form class="form card p-5 bg-dark text-white w-75 mx-auto" method="post">

		<div class="form-group">
			<label for="username">Username</label>
			<input required type="text" class="form-control" id="username" name="username" value="{{ @username }}">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input required type="password" class="form-control" id="password" name="password">
		</div>
		<div class="form-group text-center">
			<input class="btn btn-light" type="submit" id="loginsubmit" name="loginsubmit" value="Login">
		</div>
		<check if="{{ isset(@username) }}">
			<span class="text-danger">Login Attempt Failed</span>
		</check>
	</form>


</div>

<include href="view/footer.html" />