<include href="view/header.html"/>
<script src="assets/audiosynth.js"></script>
<div class="container">
	<repeat group="{{ @octaves }}" value="{{ @octave }}">
		<div class="row">

			<repeat group="{{@notes}}" key="{{ @noteID }}" value="{{ @note }}">
				<div class="col-sm-1" style="margin: 0px 0px 0px 0px;">
					<check if='{{ substr(@note, -1) == "#"}}'> <!--If the key is sharp -->
						<true>
							<button type="button" class="btn btn-dark" style=" width: 100%; margin: 0px 0px 0px 0px;"
							        name="{{ @octave }}" id="{{ @note }}">{{@note}}
							</button>
						</true>
						<false>
							<button type="button" class="btn btn-light" style=" width: 100%; margin: 0px 0px 0px 0px;"
							        name="{{ @octave }}" id="{{ @note }}">{{@note}}
							</button>
						</false>
					</check>


				</div>
			</repeat>
		</div>
	</repeat>
</div>
<script type="text/javascript">
    var piano = Synth.createInstrument('piano');

    $("button").click(function () {
	    piano.play($(this).attr('id'), $(this).attr('name'));
    });
</script>
<include href="view/footer.html"/>